

.proj-img-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 10px;

    @media (max-width: 600px) {
        padding-right: 0;
        padding: 10px 0;
    }
}

.img-pad {
    padding: 3% 2% 4% 2%;
    border-radius: 10px;
    border: solid 1px $color_gray;
    background-color: $color_black;
    margin-right: 5%;

    @media (max-width: 600px) {
        margin-right: 0;
    }
}

.img-pad-l {
    padding: 2% 1%;
    border-radius: 10px;
    border: solid 1px $color_gray;
    background-color: $color_black;
}

.img-pad:hover {
    border: solid 2px $color_purple;
}

.img-pad-l:hover {
    border: solid 2px $color_purple;
    padding: 2.5% 1.5%;
}

.img-s {
    width: 150px;
    border-radius: 7px;

    @media (max-width: 600px) {
        width: 120px;
    }
}

.img-l {
    width: 350px;
    border-radius: 7px;

    @media (max-width: 600px) {
        width: 300px;
    }
}