
.about-col{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.name-obj {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.name-row {
    display: flex;
}