.main-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container80 {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.maincont {
    width: 100%;
}

.foot {
    width: 100%;
    height: 10%;
    color: $color_gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}